<div id="navbar">
    
    <div *ngIf="desktop" id="leftSection">
        <div id=temporaryLogo></div>
        <input type="text" id="searchBar" placeholder="Search Facebook">
    </div>
    
    <div id="middleSection">
        <div class="middleNavIcon selected">
            <mat-icon>home</mat-icon>
        </div>
        <div class="middleNavIcon">
            <mat-icon *ngIf="desktop">people_outline</mat-icon>
            <mat-icon *ngIf="!desktop">ondemand_video</mat-icon>
        </div>
        <div class="middleNavIcon">
            <mat-icon *ngIf="desktop">ondemand_video</mat-icon>
            <mat-icon *ngIf="!desktop">account_circle</mat-icon>
        </div>
        <div class="middleNavIcon">
            <mat-icon *ngIf="desktop">storefront</mat-icon>
            <mat-icon *ngIf="!desktop">notifications</mat-icon>
        </div>
        <div class="middleNavIcon">
            <mat-icon *ngIf="desktop">groups</mat-icon>
            <mat-icon *ngIf="!desktop">menu</mat-icon>
        </div>  
    </div>
    
    <div *ngIf="desktop" id="rightSection">
        <div id="myProfile_rightLink">
            <div class="circleIcon" style="background-image: url({{my_account_data.profilePicture}});"></div>
            <p id="nameTitle">{{my_account_data.firstName}} {{my_account_data.lastName}}</p>
        </div>
        <div class="circleIcon" id="menu_rightLink">
            <mat-icon>menu</mat-icon>
        </div>
        <div class="circleIcon" id="messenger_rightLink">
            <mat-icon>chat_bubble</mat-icon>
        </div>
        <div class="circleIcon" id="notifications_rightLink">
            <mat-icon>notifications</mat-icon>
        </div>
        <div class="circleIcon" id="more_rightLink">
            <mat-icon>arrow_drop_down</mat-icon>
        </div>
    </div>

    <div *ngIf="!desktop" id="mobileTopSection">
        <div id="facebookLogoMobile">
            <h2>facebook</h2>
        </div>
        <div id="circleIconsMobile">
            <div class="circleIcon" id="messenger_mobile">
                <mat-icon>chat_bubble</mat-icon>
            </div>
            <div class="circleIcon" id="search_mobile">
                <mat-icon>search</mat-icon>
            </div>
        </div>
    </div>
    
</div>
