<div id="navbar">
    
    <div id="leftSection">
        <div id=temporaryLogo></div>
        <input type="text" id="searchBar" placeholder="Search">
    </div>
    
    <div id="middleSection">
        <div class="squareIcon" *ngFor="let number of [1,2,3,4,5]">
            <div class="square"></div>
        </div>
    </div>
    
    <div id="rightSection">
        <div class="circleIcon">

        </div>
        <p id="nameTitle">Name</p>
        <div class="circleIcon">
            
        </div>
        <div class="circleIcon">
            
        </div>
        <div class="circleIcon">
            
        </div>
        <div class="circleIcon">
            
        </div>
    </div>
    
</div>
