<div id="feed_container">
    <div id="stories_container" 
    [ngClass]="(numberOfStories <= 4) ? 'noScroll' : 'scroll' ">
        
        <div class="createStory">
            <div id="storyMyProfilePictureDIV">
                <img src="{{myProfilePicture}}" alt="My profile picture">
            </div>
            <div id="plusSign">
                +
            </div>
            <div id="createStoryDiv">
                <p id="createStory">Create a story</p>
            </div>
        </div>

        <div class="story" *ngFor="let story of stories" style="background-image:url({{story.photo}})">
            <div class="storyProfilePictureContainer">
                <img class="storyProfilePicture" src="{{users[story.userID-1].profilePicture}}" alt="Profile photo">
            </div>
            <div class="storyUserDiv">
                <p class='storyUser firstName'>{{users[story.userID-1].firstName}}</p>
                <p class='storyUser lastName'>{{users[story.userID-1].lastName}}</p>    
            </div>
        </div>

    </div>

    <div id="createPost">
        <div id="write">
            <div id=createPostProfilePicture style="background-image: url('{{myProfilePicture}}')"></div>
            <input type="text" id="searchBar" placeholder="What's on your mind?">
        </div>
        <div id="create">
            <button mat-button>
                <span><mat-icon 
                    aria-hidden="false" 
                    aria-label="Live Video" 
                    id="liveVideoIcon" 
                    style="color:rgb(255,63,95);">
                        videocam
                    </mat-icon>
                </span>
                Live Video
            </button>
            <button mat-button>
                <span><mat-icon 
                    aria-hidden="false" 
                    aria-label="Photo/video" 
                    id="PhotoVideoIcon" 
                    style="color:rgb(57,213,95);">
                        photo_library
                    </mat-icon>
                </span>
                Photo/video
            </button>
            <button mat-button>
                <span><mat-icon 
                    aria-hidden="false" 
                    aria-label="Feeling/activity" 
                    id="FeelingActivityIcon" 
                    style="color:rgb(247,185,40)">
                        mood
                    </mat-icon>
                </span>
                Feeling/activity
            </button>
        </div>
    </div>

    <div id="createRoom"> 
        <div>
        <button mat-button id="createRoomButton">
            <div id="createRoomButtonDiv">
                <mat-icon 
                aria-hidden="false" 
                aria-label="Live Video" 
                style="color:rgb(105, 48, 236)" 
                id="createRoomButtonIcon">
                    videocam
                </mat-icon>
                <p id="createRoomButtonText">Create Room</p>
            </div>
        </button>
        </div>
        <div class=personOnlineProfilePicture
            style="background-image: url('{{users[personOnline-1].profilePicture}}')" 
            *ngFor="let personOnline of peopleOnline">
            <div class="onlineStatusCircleOuter">
                <div class="onlineStatusCircleInner"></div>
            </div>
        </div>     
    </div>

    <div id="feed">
        <div class="post" *ngFor="let post of posts, let i = index">
            <div class="header">
                <div class="profilePicture_post_container">
                    <div 
                    class="profilePicture_Post" 
                    style="background-image:url({{users[post.userID-1].profilePicture}});" 
                    alt="Profile picture">
                    </div>
                </div>
                <div class="nameAndTime_post">
                    <p class="name">{{users[post.userID-1].firstName}} {{users[post.userID-1].lastName}}</p>
                    <p class="time">{{timePosted_temporary[i]}}</p>
                </div>
                <div class="options_post">
                    <button mat-mini-fab class="options_post_button">
                        <mat-icon>more_horiz</mat-icon>
                    </button>
                </div>
            </div>
            <div class="content">
                <div class="textPostContainer">
                    <p>{{post.text}}</p>
                </div>
                <div class="imagePostContainer">
                    <img src="{{post.photo}}" alt="Photo">
                </div> 
            </div>
            <div class="action">
                <div class="topPart_action">
                    <div class="likes_div_post">
                        <mat-icon>thumb_up</mat-icon>
                        <p>{{post.numberOfLikes}}</p>
                    </div>
                    <p *ngIf="post.numberOfShares == 0"></p>
                    <p *ngIf="post.numberOfShares == 1">{{post.numberOfShares}} Share</p>
                    <p *ngIf="post.numberOfShares > 1">{{post.numberOfShares}} Shares</p>
                </div>
                <div class="bottomPart_action">
                    <button mat-button>
                        <div class="actionButton_post">
                            <mat-icon>thumb_up</mat-icon>
                            <p>Like</p>
                        </div>
                    </button>
                    <button mat-button>
                        <div class="actionButton_post">
                            <mat-icon>mode_comment</mat-icon>
                            <p>Comment</p>
                        </div>
                    </button>
                    <button mat-button>
                        <div class="actionButton_post">
                            <mat-icon>share</mat-icon>
                            <p>Share</p>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>
    
</div>