<div id="feed_container">
    <div id="stories_container" 
    [ngClass]="(numberOfStories <= 4) ? 'noScroll' : 'scroll' ">
        
        <div class="createStory">
            <div id="storyMyProfilePictureDIV">
                <img src="./assets/images/profile_pictures/0.jpg" alt="My profile picture">
            </div>
            <div id="plusSign">
                +
            </div>
            <div id="createStoryDiv">
                <p id="createStory">Create a story</p>
            </div>
        </div>

        <div class="story" *ngFor="let story of stories" style="background-image:url({{story.photo}})">
            <div class="storyProfilePictureContainer">
                <img class="storyProfilePicture" src="{{users[story.userID-1].profilePicture}}" alt="Profile photo">
            </div>
            <div class="storyUserDiv">
                <p class='storyUser firstName'>{{users[story.userID-1].firstName}}</p>
                <p class='storyUser lastName'>{{users[story.userID-1].lastName}}</p>    
            </div>
        </div>

    </div>
    <div id="createPost">
        CREATE POST
    </div>
    <div id="feed">
        <div class="post" *ngFor="let post of posts">
            POST
        </div>
    </div>
</div>