$primary : #242424
    
#feed_container
    display: grid
    grid-template-columns: 1fr
    gap: 1vh
    margin-top: 1vh
    p
        font-size: 1.1em
    
    #stories_container
        display: grid
        height: 21vh
        gap: 1.5%
        width: 100%
        align-items: center
        justify-content: start
        grid-auto-flow: column
        text-align: center
        .createStory
            display: grid
            width: 5.5vw
            height: 18vh
            background-color: $primary
            border-radius: 10px
            grid-auto-flow: column
            grid-template-rows: 12vh 0fr 1fr
            grid-template-areas: "profilePicture" "plus" "create"
            overflow: hidden
            #storyMyProfilePictureDIV
                grid-area: profilePicture
                height: 12vh
                overflow: hidden
                justify-self: center
                img
                    height: 100%
                    object-fit: cover
            #plusSign
                grid-area: plus
                position: relative
                bottom: 1.3vh
                background-color: #147dbe
                width: 2vh
                height: 2vh
                justify-self: center
                border: 0.3vh solid $primary
                border-radius: 10px       
            #createStoryDiv
                grid-area: create   
                width: 50%
                justify-self: center  
                #createStory
                    color: #ffffff
                    font-size: 0.9em
                    font-weight: 500
                    margin-bottom: 0
                    position: relative
                    bottom: 1vh
                    align-self: center
                    text-align: center
                    text-shadow: 0px 0px 3px black    
        .story
            width: 5.5vw
            height: 18vh
            background-color: $primary
            background-repeat: no-repeat
            background-size: cover
            border-radius: 10px
            overflow: hidden
            display: grid
            grid-auto-flow: column
            grid-template-columns: 1fr 1fr
            grid-template-areas: "profilePicture" "userName"
            .storyProfilePictureContainer
                height: 3vh
                width: 3vh
                border-radius: 20px
                padding: 5px
                grid-area: profilePicture
                .storyProfilePicture
                    object-fit: cover
                    height: 100%
                    border-radius: 20px
                    border: solid 3px $primary
            .storyUserDiv
                height: fit-content    
                grid-area: userName 
                align-self: end
                padding: 5px
                .storyUser
                    position: relative
                    color: #ffffff
                    font-size: 0.9em
                    font-weight: 500
                    margin-bottom: 0
                    text-align: start
                    margin-left: 8%
                    text-shadow: 0px 0px 3px black
    .noScroll
        overflow-x: hidden
    .scroll
        overflow-x: scroll
    
    #createPost
        height: 12vh
        width: 100%
        background-color: $primary
        border-radius: 10px
        text-align: center
        margin-bottom: 1vh
        display: grid
        grid-auto-flow: row
        grid-template-rows: 1fr 1fr
        grid-template-areas: "write" "create"
        #write
            grid-area: write
            display: flex
            flex-direction: row
            padding: 1vh 0vh 1vh 0vh
            margin-left: 1vh
            margin-right: 1vh
            justify-content: center
            border-bottom: 1px solid #424242
            #searchBar
                background-color: #353535
                border: none
                height: 4vh
                width: 84%
                padding-left: 1vw
                padding-right: 1vw
                border-radius: 100px
                font-size: 1em
                margin-left: 1vw
            #createPostProfilePicture
                height: 4vh
                width: 4vh
                background: $primary
                border-radius: 100px
                background-repeat: no-repeat
                background-size: cover
        #create
            grid-area: create
            display: flex
            flex-direction: row
            justify-content: space-evenly
            align-items: center
            button
                align-items: center
                span
                    line-height: 1em
    
    #createRoom
        height: 6vh
        width: 100%
        background-color: $primary
        border-radius: 10px
        margin-bottom: 1vh
        display: grid
        grid-auto-flow: column
        gap:1vw
        overflow-x: scroll
        justify-content: start
        align-items: center
        
        #createRoomButton
            height: fit-content
            width: fit-content
            border: 1px solid #2480df59
            border-radius: 100px
            padding: 6px 10px 6px 10px
            display: grid
            width: fit-content
            margin-left: 1vw
            #createRoomButtonDiv
                display: flex
                flex-direction: row
                #createRoomButtonText
                    font-size: 1em
                    line-height: 1.5em
                    color: #2374E1
                    margin-bottom: 0
                #createRoomButtonIcon
                    line-height: 1em
        .personOnlineProfilePicture
            height: 4vh
            width: 4vh
            background: $primary
            border-radius: 100px
            background-repeat: no-repeat
            background-size: cover
            .onlineStatusCircleOuter
                position: relative
                top: 2.7vh
                left: 2.7vh
                border-radius: 50%
                padding: 2px
                height: 1vh
                width: 1vh
                background-color: $primary
                .onlineStatusCircleInner
                    background-color: #31A24C
                    height: 1vh
                    width: 1vh
                    border-radius: 50%

    #feed
        display: grid
        grid-auto-flow: row
        gap:2vh
        .post:last-of-type
            margin-bottom: 2vh
        .post
            height: fit-content
            width: 100%
            padding: 0
            background-color: $primary
            border-radius: 10px
            text-align: center
            display: grid
            grid-auto-flow: row
            grid-template-rows: 6vh 1fr 8vh
            grid-template-areas: "header" "content" "action"
            .header
                grid-area: header
                display: grid
                height: 100%
                grid-auto-flow: column
                grid-template-columns: 6vh 1fr 6vh 
                grid-template-areas: "profilePicture nameAndTime options"
                .profilePicture_post_container
                    grid-area: profilePicture
                    align-self: center
                    justify-self: center
                    .profilePicture_Post
                        height: 4vh
                        width: 4vh
                        background: $primary
                        border-radius: 100px
                        background-repeat: no-repeat
                        background-size: cover
                .nameAndTime_post
                    display: flex
                    flex-direction: column
                    align-items: flex-start
                    align-self: center
                    p
                        margin:0
                    .name
                        font-size: 1em
                        font-weight: 600
                    .time
                        font-size: 0.9em
                .options_post
                    align-self: center
                    .options_post_button
                        width: 4vh
                        height: 4vh
                        box-shadow: 0px 0px 0px 0px
                        background-color: transparent
                        margin-bottom: 0.3vh
                        
            .content
                grid-area: content
                width: 100%
                .textPostContainer
                    p
                        text-align: start
                        margin: 0vh 1vh 1vh 1vh
                .imagePostContainer
                    width: 100%
                    height: fit-content
                    overflow: hidden
                    img
                        max-width: 100%
                        
            .action
                grid-area: action
                display: grid
                grid-auto-flow: row
                grid-template-rows: 1fr 1fr
                margin-left: 1vh
                margin-right: 1vh
                p
                    margin-bottom: 0
                    font-size: 1em
                    line-height: 1em
                mat-icon
                    font-size: 1.2em
                    height: fit-content
                .topPart_action
                    display: flex
                    justify-content: space-between
                    flex-direction: row
                    align-self: center
                    padding: 6px
                    border-bottom: 1px solid #424242
                    .likes_div_post
                        display: flex
                        flex-direction: row
                .bottomPart_action
                    display: flex
                    justify-content: space-evenly
                    flex-direction: row
                    align-self: center
                    .actionButton_post
                        display: flex
                        flex-direction: row
                        padding: 0.7vh
                    .likedPost
                        mat-icon
                            color: #2374E1
                        p
                            color: #2374E1